body {
    max-width: 1800px;
    margin: 0 auto;
    height: 100%;
    font-family: forma-djr-text,sans-serif;
    scroll-behavior: smooth;
}

/* first section of content */

.first-content {
    display: grid;
    width: 100%;
    height: 35vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, 1fr);
    background-color: rgba(213, 201, 135, 0.966);
}

#this {
    display: flex;
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    color: rgb(60, 0, 255);
    font-size: 13vw;
    justify-content: center;
    align-items: center;
}

#subtitle {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 4 / 8;
    color: rgb(60, 0, 255);
    justify-content: center;
    align-items: center;
    font-size: 2.84vw;
}

#slashes {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    color: rgb(60, 0, 255);
    justify-content: left;
    font-size: 5vw;
    letter-spacing: .5vw;
    font-style: italic;

}

/* second section of content */

.second-content {
  display: grid;
  width: 100%;
  height: 80vw;
  grid-template-columns: 100%;
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(255, 255, 255);
}

.survey {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 11;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}

